$font-family: sans-serif;
$font-size: 14px;

$logo-size: 40px;
$header-height: 70px;
$footer-height: 60px;
$button-size: 40px;
$tab-header-height: 48px;
$tab-header-min-width: 80px;

$color-one: #1a1b1c;
$color-two: #212223;
$color-three: #313233;
$color-four: #414243;
$color-text: #e1e2e3;
$color-gray: #818283;
$color-border: #2c2d2e;
$color-active-border: #ffb200;